<?xml version="1.0" encoding="utf-8" ?>

<configuration>

    <configSections>
        <section
            name="UcmaKit.Rtc"
            type="UcmaKit.Rtc.RtcConfigurationSection, UcmaKit.Rtc" />
    </configSections>

    <ucmakit.rtc>
        <applications>
            <add
                applicationId="urn:application:voicexml"
                userAgent="UCMA VoiceXml"
                type="UcmaKit.Rtc.VoiceXml.VoiceXmlApplication, UcmaKit.Rtc.VoiceXml" />
        </applications>
    </ucmakit.rtc>

    <connectionStrings>
        <add
            name="VoiceXmlModelContainer"
            connectionString="metadata=res://*/Model.csdl|res://*/Model.ssdl|res://*/Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=datura.ad.isillc.com;initial catalog=VoiceXml;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;"
            providerName="System.Data.EntityClient" />
    </connectionStrings>

    <startup>
        <supportedRuntime
            version="v4.0"
            sku=".NETFramework,Version=v4.5" />
    </startup>

</configuration>