################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

obj/
bin/
[Bb]in
[Ob]bj
*.suo
*.user
/packages
/.vs
/Components
*.dbmdl
*.userprefs
