<?xml version="1.0" encoding="utf-8"?>

<configuration>

    <system.net>
        <mailSettings>
            <smtp
                from="office@isillc.com"
                deliveryMethod="Network">
                <network
                    host="gilligan.ad.isillc.com" />
            </smtp>
        </mailSettings>
    </system.net>

    <system.web>
        <customErrors
            mode="Off"/>
        <compilation
            debug="true"/>
    </system.web>

    <system.webServer>
        <staticContent>
            <mimeMap
                fileExtension=".vxml"
                mimeType="text/xml" />
            <mimeMap
                fileExtension=".grxml"
                mimeType="text/xml" />
            <mimeMap
                fileExtension=".cfg"
                mimeType="application/srgs+xml" />
            <mimeMap
                fileExtension=".ssml"
                mimeType="application/ssml+xml" />
        </staticContent>
    </system.webServer>

</configuration>