<?xml version="1.0" encoding="utf-8" ?>
<configuration>

    <configSections>
        <section
            name="isi.rtc"
            type="ISI.Rtc.RtcConfigurationSection, ISI.Rtc" />
    </configSections>

    <startup>
        <supportedRuntime
            version="v4.0"
            sku=".NETFramework,Version=v4.5" />
    </startup>

    <isi.rtc>
        <applications>
            <add
                type="ISI.Rtc.Queue.QueueApplication, ISI.Rtc.Queue"
                autoProvision="false"
                userAgent="ISI Queue (debug)"
                gruu="sip:station-1.ad.isillc.com@isillc.com;gruu;opaque=srvr:station-1-debug:7IyHtdhgjli08Dk_6KoWbwAA"
                port="6100"
                registrar="kava.ad.isillc.com"
                registrarPort="5061">
                <endpoints>
                    <add
                        uri="sip:station-1-debug@isillc.com"
                        phoneUri="tel:+12144315385" />
                </endpoints>
            </add>
        </applications>
    </isi.rtc>
</configuration>