<?xml version="1.0" encoding="utf-8"?>
<configuration>

    <configSections>
        <section
            name="entityFramework"
            type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
            requirePermission="false" />
    </configSections>

    <entityFramework>
        <defaultConnectionFactory
            type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    </entityFramework>

    <connectionStrings>
        <add
            name="VoiceXmlModelContainer"
            connectionString="metadata=res://*/Model.csdl|res://*/Model.ssdl|res://*/Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=datura.ad.isillc.com;initial catalog=VoiceXml;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;"
            providerName="System.Data.EntityClient" />
    </connectionStrings>

</configuration>